body{
    font-family: 'Roboto';
}
.container{
 width: 1200px;
 padding-left: 15px;
 padding-right: 15px;
 margin: 0 auto;
}
/* Header */
.header-title{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.flex-header{
    display: flex;
    margin-left: 70px;
}

.studio-header {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    margin-left: 93px;
}

.studio-header:hover, .studio-header:focus{
    color: #2196F3;
}
.details-header {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}
.details-header:hover, .details-header:focus{
    color: #2196F3;
}
/* Logo */
.web {
    color: #2196F3;
}
.studio {
    color: white;
}
/* Hero */
.hero{
  background-color:#2F303A;
  text-align: center;
    margin-top: 0;
    margin-bottom: 0;
        padding-top: 200px;
        padding-bottom: 200px;
}
/* Advatages */
.advantage{
    padding-top: 94px;
    padding-bottom: 94px;
}
.advantage-img:not(:last-child){
    margin-right: 30px;

}
.what-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}

.about-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}
.about-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}
.background{
font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;

}
/* buttons */
.button{
    width: 200px;
    height: 50px;
    background-color: #2196F3;
}
.portf-button{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    background-color: #F5F4FA;
    border-radius: 4px;

}

.portf-button:hover, .portf-button:focus{
    background-color: #2196F3;
}
.button-main {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    background-color: #2196F3;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
   padding-left: 32px;
   padding-right: 32px;
   padding-top: 10px;
   padding-bottom: 10px;
   border: #2196F3;
}
.button-main:hover, .button-main:focus{
    background-color: #063459;
}
/* portf project */
.project{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}
ul{
list-style: none;
}

.address{
    color: #FFFFFF;
}
/* Details */
.details{
   color:  rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}
/* teams */
.teams-name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    
}
.teams-work{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}
.teams {
    background-color: #F5F4FA;
}
.teams-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
} 

/* Footer */
.footer {
    background-color: #2F303A;
}
.address {
    color: #FFFF;
}
